In [1]:
# Dependencies
import pandas as pd
import json

In [2]:
# Read the data into a Pandas DataFrame
yelp_data = pd.read_csv('data/yelp_data.csv')
yelp_data.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,5ErYddAotaR4swc37qc87g,lot-twenty-perth,Lot Twenty,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,False,https://www.yelp.com/biz/lot-twenty-perth?adju...,85,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.2,[],...,-31.949332,115.859543,206/198-206 William St,NaN,NaN,Perth,6000,AU,WA,"['206/198-206 William St', 'Perth Western Aust..."
1,30UX2wFjo_jK82LQVbW1-g,angel-falls-grill-perth,Angel Falls Grill,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,False,https://www.yelp.com/biz/angel-falls-grill-per...,35,"[{'alias': 'latin', 'title': 'Latin American'}...",4.3,[],...,-31.951890,115.853620,Shop 16,Shafto Lane,NaN,Perth,6000,AU,WA,"['Shop 16', 'Shafto Lane', 'Perth Western Aust..."
2,cKutCnn0zwh2ckB91qXffw,santini-bar-and-grill-perth,Santini Bar & Grill,https://s3-media1.fl.yelpcdn.com/bphoto/gYQYcn...,False,https://www.yelp.com/biz/santini-bar-and-grill...,8,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.9,[],...,-31.953870,115.861000,133 Murray Street,NaN,QT Hotel,Perth,6000,AU,WA,"['133 Murray Street', 'QT Hotel', 'Perth Weste..."
3,dhRlSOvJKRixjchNBlxUQw,the-standard-northbridge-2,The Standard,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,False,https://www.yelp.com/biz/the-standard-northbri...,75,"[{'alias': 'tapasmallplates', 'title': 'Tapas/...",4.4,[],...,-31.949290,115.857880,28 Roe St,NaN,NaN,Northbridge,6003,AU,WA,"['28 Roe St', 'Northbridge Western Australia 6..."
4,58s8W4qQdhQv7RtlSb9cvA,hao-szechuan-northbridge,Hao Szechuan,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,False,https://www.yelp.com/biz/hao-szechuan-northbri...,1,"[{'alias': 'szechuan', 'title': 'Szechuan'}]",5.0,[],...,-31.947222,115.858364,74 Francis St,NaN,NaN,Northbridge,6003,AU,WA,"['74 Francis St', 'Northbridge Western Austral..."

In [3]:
# Get a brief summary of the yelp_data DataFrame.
yelp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942 entries, 0 to 941
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        942 non-null    object
 1   alias                     942 non-null    object
 2   name                      942 non-null    object
 3   image_url                 885 non-null    object
 4   is_closed                 942 non-null    bool
 5   url                       942 non-null    object
 6   review_count              942 non-null    int64
 7   categories                942 non-null    object
 8   rating                    942 non-null    float64
 9   transactions              942 non-null    object
 10  price                     610 non-null    object
 11  phone                     808 non-null    float64
 12  display_phone             808 non-null    object
 13  distance                  942 non-null    float64
 14  coordinates.latitude      941 non-null    float64
 15  coordinates.longitude     941 non-null    float64
 16  location.address1         936 non-null    object
 17  location.address2         287 non-null    object
 18  location.address3         16 non-null     object
 19  location.city             942 non-null    object
 20  location.zip_code         935 non-null    object
 21  location.country          942 non-null    object
 22  location.state            942 non-null    object
 23  location.display_address  942 non-null    object
dtypes: bool(1), float64(5), int64(1), object(17)
memory usage: 170.3+ KB

In [4]:
# Extract ethnicits from categories column
import json
# replace the single quotes ('') with "" so they can be read with json.loads
categories = [i.replace("'",'"') for i in yelp_data.categories]
# get all title types
all_cats = []
for row in categories:
    # load data as json format
    data = json.loads(row)
    # get list of unique categories
    for dictionary in data:
        if dictionary['title'] not in all_cats:
            all_cats.append(dictionary['title'])
# get list of relavent cuisines (manually selected the ones I wanted from all_cats list)
relavent = ['Latin American',
 'Italian',
 'Tapas/Small Plates',
 'Szechuan',
 'Chinese',
 'Australian',
 'Modern Australian',
 'Korean',
 'Scandinavian',
 'Shanghainese',
 'Dim Sum',
 'Cantonese',
 'American',
 'Spanish',
 'Japanese',
 'Sushi Bars',
 'Izakaya',
 'Lebanese',
 'Arabic',
 'Mexican',
 'Vietnamese',
 'Asian Fusion',
 'Singaporean',
 'Thai',
 'Malaysian',
 'Indonesian',
 'Indian',
 'Cambodian',
 'Middle Eastern',
 'Greek',
 'Mediterranean',
 'French',
 'Moroccan',
 'Taiwanese',
 'Peruvian',
 'Brazilian',
 'Modern European',
 'Burmese',
 'Irish',
 'African',
 'Afghan',
 'Persian/Iranian',
 'Himalayan/Nepalese',
 'Argentine']
# loop through all the rows, convert to json and append only the relevant categories
all_titles = []
for row in categories:
    data = json.loads(row)
    row_titles = []
    for dictionary in data:
        # if the title is in the relevant cuisine type, add it to the list otherwise leave out
        if dictionary['title'] in relavent:
            row_titles.append(dictionary['title'])
    # concat all the list items into a string with '+' as a separator
    all_titles.append(' + '.join(row_titles))
# update the categories column with the new strings
yelp_data['categories'] = all_titles
yelp_data.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,5ErYddAotaR4swc37qc87g,lot-twenty-perth,Lot Twenty,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,False,https://www.yelp.com/biz/lot-twenty-perth?adju...,85,,4.2,[],...,-31.949332,115.859543,206/198-206 William St,NaN,NaN,Perth,6000,AU,WA,"['206/198-206 William St', 'Perth Western Aust..."
1,30UX2wFjo_jK82LQVbW1-g,angel-falls-grill-perth,Angel Falls Grill,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,False,https://www.yelp.com/biz/angel-falls-grill-per...,35,Latin American,4.3,[],...,-31.951890,115.853620,Shop 16,Shafto Lane,NaN,Perth,6000,AU,WA,"['Shop 16', 'Shafto Lane', 'Perth Western Aust..."
2,cKutCnn0zwh2ckB91qXffw,santini-bar-and-grill-perth,Santini Bar & Grill,https://s3-media1.fl.yelpcdn.com/bphoto/gYQYcn...,False,https://www.yelp.com/biz/santini-bar-and-grill...,8,Italian,4.9,[],...,-31.953870,115.861000,133 Murray Street,NaN,QT Hotel,Perth,6000,AU,WA,"['133 Murray Street', 'QT Hotel', 'Perth Weste..."
3,dhRlSOvJKRixjchNBlxUQw,the-standard-northbridge-2,The Standard,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,False,https://www.yelp.com/biz/the-standard-northbri...,75,Tapas/Small Plates,4.4,[],...,-31.949290,115.857880,28 Roe St,NaN,NaN,Northbridge,6003,AU,WA,"['28 Roe St', 'Northbridge Western Australia 6..."
4,58s8W4qQdhQv7RtlSb9cvA,hao-szechuan-northbridge,Hao Szechuan,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,False,https://www.yelp.com/biz/hao-szechuan-northbri...,1,Szechuan,5.0,[],...,-31.947222,115.858364,74 Francis St,NaN,NaN,Northbridge,6003,AU,WA,"['74 Francis St', 'Northbridge Western Austral..."

In [5]:
# Check the number of empty cells in the categories column
num_empty_cells = yelp_data['categories'].isnull().sum()
print("Number of empty cells in the categories column:", num_empty_cells)

Number of empty cells in the categories column: 0

In [6]:
# Create a new column 'id' with integer IDs starting from 0
yelp_data['id'] = range(len(yelp_data))

# Set the 'id' column as the index
yelp_data.set_index('id', inplace=True)

# Filter rows where the state is 'WA' 
yelp_data = yelp_data[yelp_data['location.state'] == 'WA']

In [7]:
# Creating the desired address from the available columns
# Define a function takes a row of a DataFrame as input and concatenates the address parts in the specified order.
def concatenate_address(row):
    address_parts = [
        row['location.address1'],
        row['location.address2'],
        row['location.address3'],
        row['location.city'],
        row['location.zip_code']
    ]
    # Filter out empty parts in the columns and join them with comma separator
    # Using a list comprehension to iterate over each part of the address stored in the address_parts list. 
    full_address = ', '.join(part for part in address_parts if pd.notnull(part))
    return full_address

# Apply the custom function to each row
yelp_data['full_address'] = yelp_data.apply(concatenate_address, axis=1)

# Display the DataFrame with the new 'full_address' column
yelp_data.head()

,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,price,...,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address,full_address
id,,,,,,,,,,,,,,,,,,,,,
0,lot-twenty-perth,Lot Twenty,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,False,https://www.yelp.com/biz/lot-twenty-perth?adju...,85,,4.2,[],$$,...,115.859543,206/198-206 William St,NaN,NaN,Perth,6000,AU,WA,"['206/198-206 William St', 'Perth Western Aust...","206/198-206 William St, Perth, 6000"
1,angel-falls-grill-perth,Angel Falls Grill,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,False,https://www.yelp.com/biz/angel-falls-grill-per...,35,Latin American,4.3,[],$$,...,115.853620,Shop 16,Shafto Lane,NaN,Perth,6000,AU,WA,"['Shop 16', 'Shafto Lane', 'Perth Western Aust...","Shop 16, Shafto Lane, Perth, 6000"
2,santini-bar-and-grill-perth,Santini Bar & Grill,https://s3-media1.fl.yelpcdn.com/bphoto/gYQYcn...,False,https://www.yelp.com/biz/santini-bar-and-grill...,8,Italian,4.9,[],NaN,...,115.861000,133 Murray Street,NaN,QT Hotel,Perth,6000,AU,WA,"['133 Murray Street', 'QT Hotel', 'Perth Weste...","133 Murray Street, QT Hotel, Perth, 6000"
3,the-standard-northbridge-2,The Standard,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,False,https://www.yelp.com/biz/the-standard-northbri...,75,Tapas/Small Plates,4.4,[],$$,...,115.857880,28 Roe St,NaN,NaN,Northbridge,6003,AU,WA,"['28 Roe St', 'Northbridge Western Australia 6...","28 Roe St, Northbridge, 6003"
4,hao-szechuan-northbridge,Hao Szechuan,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,False,https://www.yelp.com/biz/hao-szechuan-northbri...,1,Szechuan,5.0,[],$$,...,115.858364,74 Francis St,NaN,NaN,Northbridge,6003,AU,WA,"['74 Francis St', 'Northbridge Western Austral...","74 Francis St, Northbridge, 6003"

In [8]:
# Change the price level from $ to an integer 
price_mapping = {'$': 1, '$$': 2, '$$$': 3, '$$$$': 4}
yelp_data['price_level'] = yelp_data['price'].map(price_mapping)

In [9]:
# Drop unwanted columns
columns_to_drop = ['alias', 'phone', 'is_closed','transactions', 'location.address1', 'location.address2', 'location.address3', 'location.state', 'location.country', 'location.display_address' ]
yelp_data_1 = yelp_data.drop(columns_to_drop, axis = 1)
yelp_data_1.head()

,name,image_url,url,review_count,categories,rating,price,display_phone,distance,coordinates.latitude,coordinates.longitude,location.city,location.zip_code,full_address,price_level
id,,,,,,,,,,,,,,,
0,Lot Twenty,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,https://www.yelp.com/biz/lot-twenty-perth?adju...,85,,4.2,$$,+61 8 6162 1195,46.382139,-31.949332,115.859543,Perth,6000,"206/198-206 William St, Perth, 6000",2.0
1,Angel Falls Grill,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,https://www.yelp.com/biz/angel-falls-grill-per...,35,Latin American,4.3,$$,+61 8 9481 6222,629.509791,-31.951890,115.853620,Perth,6000,"Shop 16, Shafto Lane, Perth, 6000",2.0
2,Santini Bar & Grill,https://s3-media1.fl.yelpcdn.com/bphoto/gYQYcn...,https://www.yelp.com/biz/santini-bar-and-grill...,8,Italian,4.9,NaN,+61 8 9225 8000,568.453539,-31.953870,115.861000,Perth,6000,"133 Murray Street, QT Hotel, Perth, 6000",NaN
3,The Standard,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,https://www.yelp.com/biz/the-standard-northbri...,75,Tapas/Small Plates,4.4,$$,+61 8 9228 1331,148.760367,-31.949290,115.857880,Northbridge,6003,"28 Roe St, Northbridge, 6003",2.0
4,Hao Szechuan,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,https://www.yelp.com/biz/hao-szechuan-northbri...,1,Szechuan,5.0,$$,+61 8 9228 0636,213.249966,-31.947222,115.858364,Northbridge,6003,"74 Francis St, Northbridge, 6003",2.0

In [10]:
# Drop rows with NaN values in any column
yelp_data_1.dropna(inplace=True)
yelp_data_1.head()

,name,image_url,url,review_count,categories,rating,price,display_phone,distance,coordinates.latitude,coordinates.longitude,location.city,location.zip_code,full_address,price_level
id,,,,,,,,,,,,,,,
0,Lot Twenty,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,https://www.yelp.com/biz/lot-twenty-perth?adju...,85,,4.2,$$,+61 8 6162 1195,46.382139,-31.949332,115.859543,Perth,6000,"206/198-206 William St, Perth, 6000",2.0
1,Angel Falls Grill,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,https://www.yelp.com/biz/angel-falls-grill-per...,35,Latin American,4.3,$$,+61 8 9481 6222,629.509791,-31.951890,115.853620,Perth,6000,"Shop 16, Shafto Lane, Perth, 6000",2.0
3,The Standard,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,https://www.yelp.com/biz/the-standard-northbri...,75,Tapas/Small Plates,4.4,$$,+61 8 9228 1331,148.760367,-31.949290,115.857880,Northbridge,6003,"28 Roe St, Northbridge, 6003",2.0
4,Hao Szechuan,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,https://www.yelp.com/biz/hao-szechuan-northbri...,1,Szechuan,5.0,$$,+61 8 9228 0636,213.249966,-31.947222,115.858364,Northbridge,6003,"74 Francis St, Northbridge, 6003",2.0
5,Dragon Palace,https://s3-media2.fl.yelpcdn.com/bphoto/jEGTKg...,https://www.yelp.com/biz/dragon-palace-northbr...,26,Chinese,3.7,$$,+61 8 9228 2888,188.367741,-31.947367,115.858639,Northbridge,6003,"66 Francis St, Northbridge, 6003",2.0

In [11]:
# Round values in the 'distance' column to two decimal places
yelp_data_1['distance'] = yelp_data_1['distance'].round(2)

In [12]:
# Rename the columns
yelp_data_1 = yelp_data_1.rename(columns = {'name':'business_name', 'display_phone':'phone', 'coordinates.latitude':'latitude', 'coordinates.longitude':'longitude','location.city':'location', 'location.zip_code' :'postcode', 'full_address':'address'})
yelp_data_1.head()

,business_name,image_url,url,review_count,categories,rating,price,phone,distance,latitude,longitude,location,postcode,address,price_level
id,,,,,,,,,,,,,,,
0,Lot Twenty,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,https://www.yelp.com/biz/lot-twenty-perth?adju...,85,,4.2,$$,+61 8 6162 1195,46.38,-31.949332,115.859543,Perth,6000,"206/198-206 William St, Perth, 6000",2.0
1,Angel Falls Grill,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,https://www.yelp.com/biz/angel-falls-grill-per...,35,Latin American,4.3,$$,+61 8 9481 6222,629.51,-31.951890,115.853620,Perth,6000,"Shop 16, Shafto Lane, Perth, 6000",2.0
3,The Standard,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,https://www.yelp.com/biz/the-standard-northbri...,75,Tapas/Small Plates,4.4,$$,+61 8 9228 1331,148.76,-31.949290,115.857880,Northbridge,6003,"28 Roe St, Northbridge, 6003",2.0
4,Hao Szechuan,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,https://www.yelp.com/biz/hao-szechuan-northbri...,1,Szechuan,5.0,$$,+61 8 9228 0636,213.25,-31.947222,115.858364,Northbridge,6003,"74 Francis St, Northbridge, 6003",2.0
5,Dragon Palace,https://s3-media2.fl.yelpcdn.com/bphoto/jEGTKg...,https://www.yelp.com/biz/dragon-palace-northbr...,26,Chinese,3.7,$$,+61 8 9228 2888,188.37,-31.947367,115.858639,Northbridge,6003,"66 Francis St, Northbridge, 6003",2.0

In [13]:
# Rearrange columns in the DataFrame
yelp_data_1_clean = yelp_data_1[['business_name', 'categories', 'rating', 'review_count', 'price', 'price_level', 'image_url', 'url', 'phone', 'distance', 'latitude', 'longitude', 'location',
       'postcode', 'address' ]]
yelp_data_1_clean.head()

,business_name,categories,rating,review_count,price,price_level,image_url,url,phone,distance,latitude,longitude,location,postcode,address
id,,,,,,,,,,,,,,,
0,Lot Twenty,,4.2,85,$$,2.0,https://s3-media1.fl.yelpcdn.com/bphoto/t-Crn8...,https://www.yelp.com/biz/lot-twenty-perth?adju...,+61 8 6162 1195,46.38,-31.949332,115.859543,Perth,6000,"206/198-206 William St, Perth, 6000"
1,Angel Falls Grill,Latin American,4.3,35,$$,2.0,https://s3-media1.fl.yelpcdn.com/bphoto/_NCdZw...,https://www.yelp.com/biz/angel-falls-grill-per...,+61 8 9481 6222,629.51,-31.951890,115.853620,Perth,6000,"Shop 16, Shafto Lane, Perth, 6000"
3,The Standard,Tapas/Small Plates,4.4,75,$$,2.0,https://s3-media2.fl.yelpcdn.com/bphoto/Rk8goQ...,https://www.yelp.com/biz/the-standard-northbri...,+61 8 9228 1331,148.76,-31.949290,115.857880,Northbridge,6003,"28 Roe St, Northbridge, 6003"
4,Hao Szechuan,Szechuan,5.0,1,$$,2.0,https://s3-media2.fl.yelpcdn.com/bphoto/FQklmY...,https://www.yelp.com/biz/hao-szechuan-northbri...,+61 8 9228 0636,213.25,-31.947222,115.858364,Northbridge,6003,"74 Francis St, Northbridge, 6003"
5,Dragon Palace,Chinese,3.7,26,$$,2.0,https://s3-media2.fl.yelpcdn.com/bphoto/jEGTKg...,https://www.yelp.com/biz/dragon-palace-northbr...,+61 8 9228 2888,188.37,-31.947367,115.858639,Northbridge,6003,"66 Francis St, Northbridge, 6003"

In [14]:
# Get a brief summary of the final clean DataFrame.
yelp_data_1_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532 entries, 0 to 940
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business_name  532 non-null    object
 1   categories     532 non-null    object
 2   rating         532 non-null    float64
 3   review_count   532 non-null    int64
 4   price          532 non-null    object
 5   price_level    532 non-null    float64
 6   image_url      532 non-null    object
 7   url            532 non-null    object
 8   phone          532 non-null    object
 9   distance       532 non-null    float64
 10  latitude       532 non-null    float64
 11  longitude      532 non-null    float64
 12  location       532 non-null    object
 13  postcode       532 non-null    object
 14  address        532 non-null    object
dtypes: float64(5), int64(1), object(9)
memory usage: 66.5+ KB

In [15]:
# Export the clean DataFrame as a CSV file
yelp_data_1_clean.to_csv("data/yelp_data_clean.csv")

In [16]:
# Export the clean DataFrame as a Excel file
yelp_data_1_clean.to_excel("data/yelp_data_clean.xlsx")